# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

Hearme-backend/Hearme-py/arabert_finetuned/
Hearme-backend/Hearme-py/arabert_finetuned2k/
Hearme-backend/Hearme-py/user_data/conversations/*
Hearme-backend/Hearme-py/.env/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
